// FONTS
// oops, les fontes google vont ici

// TOOLS
// mixins et fonctions utilisés globalement dans le SCSS (Sass)
@import 'tools/typo';

// SETTINGS
// Contient les variables sur les polices, les définitions de couleurs, les définitions de  grandeurs,   etc.
@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/dimensions';
@import 'settings/easing';

// GENERIC
// Permet de réinitialiser les CSS et de changer le modèle de boîte en box-sizing: border-box
@import 'generic/normalize';
@import 'generic/reset';

// ELEMENTS
// Modification des styles généraux de la page. Ce sont les styles qui seront généralement hérités par les éléments de la page.
@import 'elements/body';
@import 'elements/typography';
@import 'elements/links';
@import 'elements/wrapper';

// COMPONENTS
// Composants d'interface utilisateur spécifiques.
// C’est là que la majorité de notre travail a lieu.

//pour la navigation de swiper vous n'avez pas besoin d'importer le SCSS

@import 'components/header';
@import 'components/footer';
@import 'components/hero';
@import 'components/section';
@import 'components/Card';
@import 'components/intro';
@import 'components/news';
@import 'components/button';
@import 'components/gallery';
@import 'components/wall';
